<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ProjectConfiguration>
<!-- Written by CDPStudio 1.4.0, 2018-01-18T13:09:30. -->
<qtcreator>
 <data>
  <variable>LibrarySettings</variable>
  <valuemap type="QVariantMap">
   <valuemap type="QVariantMap" key="Toolkits">
    <value type="QString" key="Raspbian Jessie 32bit">com.cdptech.cdpstudio.cdp44.raspbian_armv6_12</value>
    <value type="QString" key="Windows 32bit">com.cdptech.cdpstudio.cdp44.win32_12</value>
   </valuemap>
  </valuemap>
 </data>
</qtcreator>
